body { font-family: Arial;
       background-image: url(BlueBack.jpg);
       text-align: center; 
	   width: max-width;
	   min-width: 1196px;
height: max-content;
background-color: #F8F9FA;
margin: auto;
padding: 2px;
padding-top: 10px;
padding-right:3px;
padding-left:3px;
background-image: url(font3.png);
}
a {text-decoration: none;
}

  h1{  background-image: -webkit-linear-gradient(0deg, rgba(95,35,206,1) 0, rgba(95,35,206,1) 30%, rgba(46,105,232,1) 88%, rgba(46,105,232,1) 100%);
	background-image: -moz-linear-gradient(90deg, rgba(95,35,206,1) 0, rgba(95,35,206,1) 30%, rgba(46,105,232,1) 88%, rgba(46,105,232,1) 100%);
	background-image: linear-gradient(90deg, rgba(95,35,206,1) 0, rgba(95,35,206,1) 30%, rgba(46,105,232,1) 88%, rgba(46,105,232,1) 100%);
	background-repeat: repeat;
	color: #F8F9FA; 
	border-radius: 2px;
    margin: 1px;
    font-weight: bold;
	padding-top:4px;
	padding-bottom:4px;
	font-family:"Century Gothic" sans-serif;
	font-size:35px;
	opacity : 0.96;
	}
				

#tabdiv{
	background-image: -webkit-linear-gradient(0deg, rgba(95,95,122,1) 0, rgba(95,95,122,1) 10%, rgba(121,119,155,1) 66%, rgba(121,119,155,1) 100%);
background-image: -moz-linear-gradient(90deg, rgba(95,95,122,1) 0, rgba(95,95,122,1) 10%, rgba(121,119,155,1) 66%, rgba(121,119,155,1) 100%);
background-image: linear-gradient(90deg, rgba(95,95,122,1) 0, rgba(95,95,122,1) 10%, rgba(121,119,155,1) 66%, rgba(121,119,155,1) 100%);
background-repeat: repeat;
	margin: 2px;
    border-radius: 2px;
	color: #F8F9FA;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:0px;
	padding-right:0px;
	width: max-width;
	opacity : 0.94;
}

#tab {
border-collapse:collapse;border-spacing:0;
border-style:solid;border-width:0px;
width: 100%;

}

#tab td {font-family:"Century Gothic" sans-serif; padding:0px 2px 2px 2px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}

#tab th {font-family:"MS Sans Serif" sans-serif;font-size:21px;font-weight:normal;padding:2px 5px 0px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
.tret{
    
  width: 150px;  

}
.centr{
}
#tel { font-size: 28px;
       font-weight: bold;}

#uch {height: 68px;}


h2{font-family:"Century Gothic" sans-serif;
font-size:26px;}




.bolstab {
margin: auto;

}


h3 {
margin-left: 210px;
text-align: left;
font-family:"Century Gothic" sans-serif;
font-size:22px;
}




.zagol {
font-size: large;
text-align: left;
padding-left: 20px;
font-family:Helvetica, sans-serif;
font-size:18px;
}

.desc {
text-align: left;
padding-left: 20px;
font-family:Palatino, serif;
font-size:18px;
}

.malentab {
margin-left: 20px;
}
p {
text-align: left;
margin-left: 210px;
margin-right: 210px;
}

ol {
text-align: left;
margin-left: 210px;
margin-right: 210px;
}
li {
text-align: left;
margin-left: 210px;
margin-right: 210px;
}

.obinstr{font-family:Palatino, serif;
font-size:18px;}

iframe{
    frameborder="0";
  border-style: ridge;
    
}

.bolstabdwa {
margin: auto;
border-style: solid;
padding: 10px;
margin: auto;
margin-bottom: 30px;
border-width:3px;
border-color:rgba(128,130,142,1) ;
}

.malentabdwa {
margin-left: 20px;
}
.zagoldwa {
    font-weight: bold;
    font-size: 20px
}
#insizobr {
padding: 0px;
border-style: ridge;
border-width:3px;

}

#cenp{
    
    text-align: center;
}


#footer{
	border-top: 3px double rgba(128,130,142,1);
	margin-top: 50px;
     margin-bottom: 0px;
    border-top-style: double;
    border-top-width: 1px;
    text-align: center;
    margin-right:250px;
	margin-left:250px;
    font: normal 16px/1 "Century Gothic" sans-serif;
    color:rgba(128,130,142,1) ;
	font-size:14px;
	font-weight:normal;
	
}
 A {
    color: #000000; 
   }