body{background:url(public_html/back.jpg),url(back.jpg) repeat;}
.menu{width:100%;height:48px;background:#FFAEB9;opacity:.95;border-radius:2px;position:fixed;left:0px;top:0px;}
.ico{width:50px;height:46px;background:url(public_html/ico.png),url(ico.png) no-repeat;float:left;border:0px solid black;
position:relative;left:21px;}
.zvonki{width:170px;height:44px;position:relative;top:2px;left:220px;float:left;border:0px solid black;font-weight:800;}
.tel{color:#8B3A3A;font-size:21px;}
.zakZV{text-align:center;cursor:pointer;color:#8B3A3A;text-shadow: 0 1px #444;}
.menubut{margin-left:80px;float:left;width:180px;display:inline-block;left:300px;margin-top:3px;font-size:18px;color:#EEEEE0;background:#B22222;height:41px;
overflow:hidden;text-align:center;transition:height .2s ease-in-out;box-shadow: 1px 1px 2px rgb(255,0,0);line-height:40px;border-radius:6px;font-weight:600;}
.menubut2{margin-left:2px;float:left;width:190px;display:inline-block;left:300px;margin-top:3px;font-size:18px;color:#EEEEE0;background:#B22222;height:41px;
overflow:hidden;text-align:center;font-weight:600;
transition:height .2s ease-in-out;box-shadow: 1px 1px 2px #444;line-height:40px;border-radius:6px;}
.menubut3{margin-left:2px;float:left;width:150px;display:inline-block;left:300px;margin-top:3px;font-size:18px;color:#EEEEE0;background:#B22222;height:41px;
overflow:hidden;text-align:center;font-weight:600;
transition:height .2s ease-in-out;box-shadow: 1px 1px 2px #444;line-height:40px;border-radius:6px;}
.menubut4{margin-left:2px;float:left;width:190px;display:inline-block;left:300px;margin-top:3px;font-size:18px;color:#EEEEE0;background:#B22222;height:41px;
overflow:hidden;text-align:center;transition:height .2s ease-in-out;box-shadow: 1px 1px 2px #444;line-height:40px;border-radius:6px;font-weight:600;}
.menubut a{display:block;border:1px solid #FF6347;cursor:pointer;}
.menubut2 a{display:block;border:1px solid #FF6347;cursor:pointer;}
.menubut3 a{display:block;border:1px solid #FF6347;cursor:pointer;}
.menubut4 a{display:block;border:1px solid #FF6347;cursor:pointer;}
.menubut:hover{height:167px;}
.menubut a:hover{background:#8B3A3A;}
.menubut a:active{background:#444;box-shadow:inset 0px 1px 2px #444;}
.menubut2:hover{height:249px;}
.menubut2 a:hover{background:#8B3A3A;}
.menubut2 a:active{background:#444;box-shadow:inset 0px 1px 2px #444;}
.menubut3:hover{height:124px;}
.menubut3 a:hover{background:#8B3A3A;}
.menubut3 a:active{background:#444;box-shadow:inset 0px 1px 2px #444;}
.menubut4:hover{height:167px;}
.menubut4 a:hover{background:#8B3A3A;}
.menubut4 a:active{background:#444;box-shadow:inset 0px 1px 2px #444;}
.emptyblock{width:30px;height:10000px;position:relative;}